a {
    outline: none;
    text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.top {
    margin-top: 30px;
}

.top-margin {
    margin-top: 80px;
}

.div-center {
    text-align: center;
}

.div-right {
    text-align: right;
}

.main a {
    display: inline-block;
    height: 100%;
    line-height: 22px;
    font-size: 12px;
    color: #a8a8a8;
    padding-left: 15px;
    padding-right: 15px;
}

.main .width30 {
	width: 30%
}

.main .width10 {
	width: 10%
}

.main a.active,
.main a:hover {
    background: #c1c1c1;
    color: #FFF;
}

#myTabContent #info input {
    border-style: none;
}