<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="xust.ebs.dao.ReserveDao">
 	<select id="selectReserveTime" resultType="xust.ebs.entity.Reserve" parameterType="string">
 		select reserve_hour,reserve_starttime,reserve_endtime from reserve where reserve_date=#{reserve_date}
 	</select>
 	<insert id="save" parameterType="xust.ebs.entity.Reserve">
 		insert into reserve (reserve_id,user_nick,reserve_item,reserve_hour,reserve_date,reserve_starttime,
 		reserve_endtime,reserve_examine_status,reserve_complete_status,reserve_time) 
 		values (#{reserve_id},#{user_nick},#{reserve_item},#{reserve_hour},#{reserve_date},
 		#{reserve_starttime},#{reserve_endtime},#{reserve_examine_status},#{reserve_complete_status},
 		#{reserve_time})
 	</insert>
 	<select id="findByNick" parameterType="string" resultType="xust.ebs.entity.Reserve">
 		select * from reserve where user_nick = #{userNick} order by reserve_time
 	</select>
 	<select id="loadReserve" parameterType="map" resultType="xust.ebs.entity.Reserve">
 		SELECT *
		FROM reserve
		WHERE 1
		<if test="examine_status != null">
			AND reserve_examine_status=#{examine_status}
		</if>
		<if test="complete_status != null">
			AND reserve_complete_status=#{complete_status}
		</if>
 	</select>
 	<update id="updateExamine" parameterType="map">
 		UPDATE reserve SET
 		reserve_examine_status=#{status}
 		WHERE reserve_id=#{reserveId}
 	</update>
 	<update id="updateCompleted" parameterType="map">
 		UPDATE reserve SET
 		reserve_complete_status=#{status}
 		WHERE reserve_id=#{reserveId}
 	</update>
 	<select id="findByReserveId" parameterType="string" resultType="xust.ebs.entity.Reserve">
 		select * from reserve where reserve_id = #{reserveId}
 	</select>
 </mapper>